  {% extends "layout2.html" %}
	{% block content %}  
	 <div class="invoice-w">
      <div class="white-paper">
        <div class="invoice-header">
          <div class="row">
            <div class="col-sm-6">
              <div class="invoice-logo">
                <i class="fa fa-rocket"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="invoice-header">
        <div class="row">
          <div class="col-sm-7">
            <div class="invoice-company">
              <div class="ic-name">Rewardium </div>
              <div class="ic-address">Address <br> address 2<br>Address 3</div>
              <ul class="ic-more-info hidden-xs"> Support</li>
                <li><i class="fa fa-envelope-o"></i> contact@awesome.com</li>
                <li><i class="fa fa-phone"></i> 917.134.2535</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="invoice-client">
              <div class="icl-name">Client: <strong>Resturant owner name</strong></div>
              <div class="icl-address">
                182 Mayers avenue<br>San Francisco, California 92454<br>United States
              </div>
            </div>
            
          </div>
        </div>
        </div> 
	  
 
 
 {% endblock %}
<!-- @include _footer