<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
<link rel='stylesheet' href="{{ url_for('static', filename='css/fullcalendar.css') }}"> 
<link rel='stylesheet' href="{{ url_for('static', filename='css/datatables.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.datatables.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/chosen.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/jquery.timepicker.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/colpick.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/jquery.handsontable.full.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/jscrollpane.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/app.css') }}">

  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
 
</head>

<body class="glossed"> 
<div class="all-wrapper fixed-header left-menu">
  <div class="page-header">
  <div class="header-links hidden-xs">
    <div class="top-search-w pull-right">
      <input type="text" class="top-search" placeholder="Search"/>
    </div>
    <div class="dropdown hidden-sm hidden-xs">
      <a href="#" data-toggle="dropdown" class="header-link"><i class="fa fa-bolt"></i> User Alerts <span class="badge alert-animated">5</span></a>

      <ul class="dropdown-menu dropdown-inbar dropdown-wide">
        <li><a href="#"><span class="label label-warning">1 min</span> <i class="fa fa-bell"></i> New Mail Received</a></li>
        <li><a href="#"><span class="label label-warning">4 min</span> <i class="fa fa-fire"></i> Server Crash</a></li>
        <li><a href="#"><span class="label label-warning">12 min</span> <i class="fa fa-flag-o"></i> Pending Alert</a></li>
        <li><a href="#"><span class="label label-warning">15 min</span> <i class="fa fa-smile-o"></i> User Signed Up</a></li>
      </ul>
    </div>
    <div class="dropdown hidden-sm hidden-xs">
      <a href="#" data-toggle="dropdown" class="header-link"><i class="fa fa-cog"></i> Settings</a>

      <ul class="dropdown-menu dropdown-inbar">
        <li><a href="#"><span class="label label-warning">2</span> <i class="fa fa-envelope"></i> Messages</a></li>
        <li><a href="#"><span class="label label-warning">4</span> <i class="fa fa-users"></i> Friends</a></li>
        <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
        <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </div>

  </div>
  <a class="logo hidden-xs" href="index.html"><i class="fa fa-rocket"></i></a>
  <a class="menu-toggler" href="#"><i class="fa fa-bars"></i></a>
  <h1>Rewardium </h1>
</div>
  <div class="side">
	  <div class="sidebar-wrapper">
	  <ul>
		<li>
		  <a href="index.html" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
			<i class="fa fa-home"></i>
		  </a>
		</li>
		<li>
		  <a href="forms.html" data-toggle="tooltip" data-placement="right" title="" data-original-title="Forms">
			<i class="fa fa-file-text-o"></i>
		  </a>
		</li>
		
	  </ul>
	</div>
	<div  class="sub-sidebar-wrapper">
		  <ul id="sidebar">
			 <li><a href="/Summary"> Summary</a></li> 
			 <li><a href="/Orders"> Orders</a></li>
			 <li><a href="/MenuItems"> Menu Items</a></li>  
			 <li><a href="/PaymentMethods"> Payment Methods</a></li>
			 <li><a href="/Transactions"> Transactions </a></li>
			 <li><a href="/Help"> Help</a></li> 
		  </ul>
	</div>
  </div>
  <div class="main-content">
	<div id="mainContentItems"> 	 
		<br/>
		 {% block content %}
		 {% endblock %}
	</div>
  </div>
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='js/plugins/jquery.pnotify.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/mwheelIntent.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/tab.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/dropdown.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/tooltip.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/collapse.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/scrollspy.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/bootstrap-datepicker.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/transition.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.knob.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.flot.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/fullcalendar.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/datatables/datatables.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/chosen.jquery.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.timepicker.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/colpick.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/datatables/bootstrap.datatables.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap/modal.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/raphael-min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/morris-0.4.3.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/justgage.1.0.1.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.maskedinput.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.maskmoney.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/summernote.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/dropzone-amd-module.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jquery.bootstrap.wizard.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/plugins/jscrollpane.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/application.js') }}"></script>
 
<!-- @include _footer