    {% extends "layout2.html" %}
	{% block content %}  
	  <div class="invoice-buttons">
          <a href="#" class="btn btn-primary btn-sm">
            <i class="fa fa-download"></i> <span>Download PDF</span>
          </a>
          <a href="#" class="btn btn-success btn-sm">
            <i class="fa fa-print"></i> <span>Print Receipt</span>
          </a>
        </div>
		
		 <div class="order-details">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="page-title page-title-hard-bordered">
            <i class="fa fa-file-text-o"></i>
            Order #324
            <span class="title-price">$22.84</span>
          </h1>
          <h4 class="section-title">Order Information</h4>
          <ul class="order-info-list">
            <li><i class="fa fa-calendar"></i> <strong>Date: </strong> December 4, 2013, 9:16 pm</li>
            <li><i class="fa fa-truck"></i> <strong>Type: </strong>Delivery</li>
            <li><i class="fa fa-money"></i> <strong>Payment Type: </strong>Cash</li>
            <li><i class="fa fa-clock-o"></i> <strong>Delivery Time: </strong>30 To 45 Minutes</li>
            <li><i class="fa fa-bell-o"></i> <strong>Ready: </strong>As Soon As Possible</li>
            <li><i class="fa fa-smile-o"></i> <strong>Sales Person: </strong>Rmartinez</li>
          </ul>
          <h4 class="section-title">Customer Information</h4>
          <ul class="order-info-list">
            <li><i class="fa fa-user"></i> <strong>Name: </strong><a href="#">John Fiziko <i class="fa fa-external-link-square"></i></a></li>
            <li><i class="fa fa-phone"></i> <strong>Phone: </strong>(415) 111-3443</li>
            <li><i class="fa fa-map-marker"></i> <strong>Address: </strong>3815 25th street, san francisco, CA</li>
            <li><i class="fa fa-retweet"></i><span class="label label-success">Returned Customer</span></li>
            <li><i class="fa fa-money"></i> <strong>Average Order:</strong> $28.3</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="merchant-info">
            <a href="#" class="top-right-control-link"><i class="fa fa-pencil-square-o"></i></a>
            <h3>Best Burgers</h3>
            <p>
              1242 32th Street, San Francisco<br>
              Phone: <strong>(801) 333-1212</strong><br>
              Email: <strong>orders@example.com</strong>
            </p>
          </div>
            
        </div>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-12">
          <h4 class="section-title">Ordered Items</h4>
          <table class="table table-bordered table-striped cart-contents-table">
            <thead>
              <tr>
                <th>Item Ordered</th>
                <th class="text-right">Item Price</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="item-name">Margherita - 10 Inch</div>
                  <div class="item-extra"><b>Cheese Choice:</b> regular mozzarella</div>
                </td>
                <td class="text-right">$12.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$12.00</td>
              </tr>
              <tr>
                <td>
                  <div class="item-name">Meatball</div>
                  <div class="item-extra"></div>
                </td>
                <td class="text-right">$9.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$9.00</td>
              </tr>
              <tr>
                <td colspan="3" class="text-right">Subtotal:</td>
                <td colspan="3" class="text-right">$21.00</td>
              </tr>
              <tr>
                <td colspan="3" class="text-right">Tax:</td>
                <td colspan="3" class="text-right">$1.84</td>
              </tr>
              <tr>
                <td colspan="3" class="text-right grand-total-label">Grand Total:</td>
                <td colspan="3" class="text-right grand-total-value">$22.84</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4 class="section-title">Customer Order History</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>Order ID</td>
                <td>Date</td>
                <td>Type</td>
                <td>Payment</td>
                <td class="text-right">Total</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">1539048 <i class="fa fa-external-link-square"></i></a></td>
                <td>June 5, 2013, 9:28 pm</td>
                <td>
                  <span class="label label-success"><i class="fa fa-truck"></i> Delivery</span>
                </td>
                <td>
                  <span class="label label-info"><i class="fa fa-credit-card"></i> Credit Card</span>
                </td>
                <td class="text-right">$48.94</td>
              </tr>
              <tr>
                <td><a href="#">1545972 <i class="fa fa-external-link-square"></i></a></td>
                <td>June 11, 2013, 8:40 pm</td>
                <td>
                  <span class="label label-success"><i class="fa fa-truck"></i> Delivery</span>
                </td>
                <td>
                  <span class="label label-info"><i class="fa fa-credit-card"></i> Credit Card</span>
                </td>
                <td class="text-right">$29.36</td>
              </tr>
              <tr>
                <td><a href="#">1549772 <i class="fa fa-external-link-square"></i></a></td>
                <td>June 14, 2013, 8:13 pm</td>
                <td>
                  <span class="label label-success"><i class="fa fa-truck"></i> Delivery</span>
                </td>
                <td>
                  <span class="label label-info"><i class="fa fa-credit-card"></i> Credit Card</span>
                </td>
                <td class="text-right">$29.36</td>
              </tr>
              <tr>
                <td><a href="#">1554098 <i class="fa fa-external-link-square"></i></a></td>
                <td>June 18, 2013, 9:02 pm</td>
                <td>
                  <span class="label label-danger"><i class="fa fa-male"></i> Takeout</span>
                </td>
                <td>
                  <span class="label label-success"><i class="fa fa-money"></i> Cash</span>
                </td>
                <td class="text-right">$22.84</td>
              </tr>
              <tr>
                <td><a href="#">1556421 <i class="fa fa-external-link-square"></i></a></td>
                <td>June 20, 2013, 9:43 pm</td>
                <td>
                  <span class="label label-success"><i class="fa fa-truck"></i> Delivery</span>
                </td>
                <td>
                  <span class="label label-success"><i class="fa fa-money"></i> Cash</span>
                </td>
                <td class="text-right">$22.84</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     
 {% endblock %}
<!-- @include _footer